.carousel{
    border-radius: 5vh;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid #333;
}
.corner-label {
    position: absolute;
    font-size: 2vh;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1vh;
    border-radius: 1vh;
}
.corner-label.top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #f8efda;
    color: black;
    font-size: 12px;
    padding: 1vh 2vh;
    border: 0.2vh solid #333;
    border-radius: 3vh;
}
.corner-label.bottom-left {
    position: absolute;
    bottom: 2vh;
    left: 4vh;
    background-color: #f8efda;
    color: black;
    font-size: 2vh;
    padding: 1vh 2vh;
    border: 0.2vh solid #333;
    border-radius: 3vh;
}
.cart-modal {
    border-radius: 4vh;
    display: none;
    position: absolute;
    top: 16vh;
    right: 10vh;
    z-index: 1000;
    background-color: white;
    border: 0.2vh solid #ccc;
    padding: 4vh;
    box-shadow: 0 0.8vh 1.8vh rgba(0, 0, 0, 0.1);
    width: 30%;
}
.cart-product {
    border: 0.2vh solid #ddd;
    padding: 2vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
}
.cart-product-title {
    font-weight: bold;
}
.cart-product-price {
    color: #888;
}
.adjust-quantity {
    background-color: #f8f9fa;
    border: 0.2vh solid #ddd;
    border-radius: 5px;
    width: 5vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.trash-icon {
    cursor: pointer;
    color: red;
}
.trash-icon:hover {
    color: darkred;
}
.active {
    background-color: #007bff;
    color: white;
}