#checkout-section body {
    font-family: 'Fira Code', monospace;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#checkout-section .navbar {
    background-color: #343a40;
    padding: 1rem;
}

.col-md-6::-webkit-scrollbar {
    display: none;
}

.col-md-6 {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#checkout-section .navbar-brand img {
    height: 2.5rem;
}

#checkout-section .nav-link {
    color: #ffffff !important;
    font-weight: 700;
    font-size: 1rem;
}

#checkout-section .nav-link:hover {
    color: #ffc107 !important;
}

#checkout-section .custom-nav-item {
    margin-left: 1.25rem;
}

#checkout-section .marquee-container {
    background-color: #ffc107;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#checkout-section .marquee-text {
    color: #343a40;
    font-weight: 700;
    font-size: 1rem;
}

#checkout-section .checkout-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 0 auto;
}

#checkout-section .form-label {
    font-weight: 700;
    font-size: 1rem;
}

#checkout-section .btn-primary {
    background-color: #343a40;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
}

#checkout-section .btn-primary:hover {
    background-color: #ffc107;
    color: #343a40;
}

@media (max-width: 768px) {
    #checkout-section .navbar-brand img {
        height: 2rem;
    }

    #checkout-section .nav-link {
        font-size: 0.875rem;
    }

    #checkout-section .custom-nav-item {
        margin-left: 1rem;
    }

    #checkout-section .marquee-container {
        padding: 0.25rem 0.5rem;
    }

    #checkout-section .marquee-text {
        font-size: 0.875rem;
    }

    #checkout-section .checkout-form {
        padding: 1.5rem;
    }

    #checkout-section .form-label {
        font-size: 0.875rem;
    }

    #checkout-section .btn-primary {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }
}