.awning {
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    position: relative;
    background-color: #5b291c;
    padding-bottom: 20px;
}

.stripe {
    width: 10%;
    height: 100px;
    background-color: #FEF9F2;
    border: 1px solid black;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}
.stripe:nth-child(odd) {
    background-color: #5b291c;
}

.draw-wave {
    width: 100%;
    height: 70px;
    display: flex;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

.waves {
    position: absolute;
    bottom: 55px;
    width: 100%;
    height: 50px;
    display: flex;
    z-index: 1;
}

.wave {
    width: 200px;
    height: 100px;
    background-color: #5b291c;
    border-radius: 50%;
    margin: 0 -15px;
    position: relative;
    top: -10px;
    clip-path: ellipse(50% 50% at 50% 50%);
}

@media (max-width: 768px) {
    .awning {
        height: 60px;
        margin-top: 5px;
    }
    .stripe {
        height: 50px;
    }
    .draw-wave {
        height: 40px;
    }
    .waves {
        bottom: 25px;
        height: 30px;
    }
    .wave {
        height: 50px;
        top: -5px;
    }
}
